@model Entities.Concrete.Category
@{
    Layout=null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
    </head>
    <body>
        @Model.CategoryId<br/>
        @Model.CategoryName<br/>
        <br/>
    </body>
</html>
